
body{
    background-color: burlywood;
    color: floralwhite;
}


p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}


footer{

    text-align: center;
    margin-right: 200px;
}


h1{
    text-align: center;
    color: black;
}
