
body{
    background-color: lightblue;
    color: floralwhite;
}


p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}


footer{

    text-align: center;
    margin-right: 200px;
}


h1{
    text-align: center;
    color: black;
}

#useThis {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
 
#movePattrick {
    position: absolute;
}